<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Produtos:</title>
</head>
<body>
    <h2 class="container bg-dark text-light">Produtos:</h2>

    <div class="container bg-danger text-light p-1">
        {% for produto in Produtos %}
        <div class="container bg-dark text-light p-3">
            <b>Nome: </b>{{ produto.nome_produto }}
            <br /><b>Preço: </b>{{ produto.preco }}
            <br /><b>Data de validade: </b>{{ produto.data_validade }}
            <br /><b>Quantidade disponível: </b>{{ produto.quantidade_produto }}
            <br /><b>Categoria: </b>{{ produto.FK_categoria }}
            <br /><b>Fornecedor: </b>{{ produto.FK_fornecedor }}
        </div>
        {% endfor %}
    </div>
</body>
</html>